OPENAI_API_KEY = YOUR_API_KEY

PICOVOICE_API_KEY = YOUR_API_KEY

SECRET_KEY = YOUR_SECRET_KEY

NEO4J_URI = "bolt://localhost:7687"
NEO4J_USER = "YOUR_USER_NAME"
NEO4J_PASSWORD = "YOUR_PASSWORD"

POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB_NAME=YOUR_NAME
POSTGRES_DB_USER=YOUR_USER
POSTGRES_DB_PASSWORD=YOUR_PASSWORD
